<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Cart</title>
  <link rel="stylesheet" href="/stylesheets/style_cart.css" type="text/css" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Gilda+Display&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Protest+Strike&family=Rowdies&family=Shippori+Mincho&display=swap">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="container">
      <h1>Your Cart</h1>
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">ID</div>
          <div class="col col-2">Noodles type</div>
          <div class="col col-3">Meat type</div>
          <div class="col col-4">Topping</div>
          <div class="col col-5">Vegetable</div>
          <div class="col col-6">Unit Price</div>
          <div class="col col-7">Remove</div>
        </li>
        <% for(var i=0;i < items.length;i++) { %>
        <li class="table-row" data-index="<%= i %>">
          <div class="col col-1" data-label="Id"><%= i+1 %></div>
          <div class="col col-2" data-label="Noodles type"><%= items[i]["noodlesEN"] %></div>
          <div class="col col-3" data-label="Meat type"><%= items[i]["meatEN"] %></div>
          <div class="col col-4" data-label="Topping"><%= items[i]["topEN"] %></div>
          <div class="col col-5" data-label="Vegetable"><%= items[i]["vegEN"] %></div>
          <div class="col col-6" data-label="Unit Price"><%= items[i]["price"] %> ฿</div>
          <div class="col col-7" data-label="Remove">
            <form method="post">
            <input type="hidden" name="indexId" value="<%= i %>">
            <button type="submit" class="bin-button">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 39 7"
                class="bin-top"
              >
                <line stroke-width="4" stroke="white" y2="5" x2="39" y1="5"></line>
                <line
                  stroke-width="3"
                  stroke="white"
                  y2="1.5"
                  x2="26.0357"
                  y1="1.5"
                  x1="12"
                ></line>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 33 39"
                class="bin-bottom"
              >
                <mask fill="white" id="path-1-inside-1_8_19">
                  <path
                    d="M0 0H33V35C33 37.2091 31.2091 39 29 39H4C1.79086 39 0 37.2091 0 35V0Z"
                  ></path>
                </mask>
                <path
                  mask="url(#path-1-inside-1_8_19)"
                  fill="white"
                  d="M0 0H33H0ZM37 35C37 39.4183 33.4183 43 29 43H4C-0.418278 43 -4 39.4183 -4 35H4H29H37ZM4 43C-0.418278 43 -4 39.4183 -4 35V0H4V35V43ZM37 0V35C37 39.4183 33.4183 43 29 43V35V0H37Z"
                ></path>
                <path stroke-width="4" stroke="white" d="M12 6L12 29"></path>
                <path stroke-width="4" stroke="white" d="M21 6V29"></path>
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 89 80"
                class="garbage"
              >
                <path
                  fill="white"
                  d="M20.5 10.5L37.5 15.5L42.5 11.5L51.5 12.5L68.75 0L72 11.5L79.5 12.5H88.5L87 22L68.75 31.5L75.5066 25L86 26L87 35.5L77.5 48L70.5 49.5L80 50L77.5 71.5L63.5 58.5L53.5 68.5L65.5 70.5L45.5 73L35.5 79.5L28 67L16 63L12 51.5L0 48L16 25L22.5 17L20.5 10.5Z"
                ></path>
              </svg>
            </button>
          </form>
        </div>
        </li>
        <% } %>
        <li class="table-footer">
          <div class="col col-8">Total Price &nbsp;&nbsp;<% var price = 0; %>
             <%for(var i=0;i < items.length;i++) { %>
                <% if((items[i]["price"]) == null){ %>
                  <% items[i]["price"] = 0; %>
                <% } %>
                <% price += parseInt(items[i]["price"]); %>
            <% } %>
            <%= price + " ฿" %>
          </div>
        </li>
      </ul>
      <div class="button-footer">
        <button onclick="backtoorderEN()" class="add-more-button">Add more orders <i class='bx bxs-cart-add' ></i></button>
        <button class="submit-button">Submit Order <i class='bx bxs-dollar-circle'></i></i></button>
      </div>
  </div>
  <div class="container2">
    <div class="popup-container">
      <div class="popup-box">
        <img src="/images/cart/QR.png" alt="QR Payment" width="200px" height="200px">
        <p><br>Scan for pay to our restaurant<br>Thank you for order!<br><br></p>
        <h2>Total Price &nbsp;&nbsp;<%= price + " ฿" %></h2>
        <br>
        <button onclick="linktoendEN()" class="Btn">
            Pay here
            <svg class="svgIcon" viewBox="0 0 576 512"><path d="M512 80c8.8 0 16 7.2 16 16v32H48V96c0-8.8 7.2-16 16-16H512zm16 144V416c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V224H528zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm56 304c-13.3 0-24 10.7-24 24s10.7 24 24 24h48c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm128 0c-13.3 0-24 10.7-24 24s10.7 24 24 24H360c13.3 0 24-10.7 24-24s-10.7-24-24-24H248z"></path></svg>
        </button>
      </div>
    </div>
  </div>
</body>
<script src="/javascripts/cart.js"></script>
</html>