<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Order Here!</title>
    <link rel="stylesheet" href="/stylesheets/style_order.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&family=Roboto+Condensed:ital,wght@0,800;1,800&display=swap" rel="stylesheet">
</head>
<body>
    <form method="post">
    <div class="container">
        <input type="hidden" id="date" name="order_date" value="">
        <input type="hidden" id="time" name="order_time" value="">
        <input type="hidden" id="tel" name="customer_tel" value="None">
        <input type="hidden" id="id" name="customer_id" value="">
        <button class="back"><i class='bx bxs-chevron-left' ></i></button>
        <div class="corner">
            <div class="lang">
                <i class="fa-solid fa-globe" onclick="changeTH()"></i>
                <p><br>Change Language</p>
            </div>
            <div class="cart">
                <i class="fa-solid fa-cart-shopping" onclick="linktocartEN()"></i>
                <p><br>Your Cart</p>
            </div>
        </div>
        <button class="add-to-cart" onclick="checkDropdown()" type="submit"><p><i class='bx bx-plus-circle' ></i>  Add to Cart</p></i></button>
        <table>
            <tr>
                <td colspan="2">
                    <div class="image">
                        <img src="../images/order/stick.jpg" id="image1" width="600" height="400">
                        <img src="../images/order/wide.jpg" id="image2" width="600" height="400" hidden="overflow">
                        <img src="../images/order/glass.jpg" id="image3" width="600" height="400" hidden="overflow">
                        <img src="../images/order/narrow.jpg" id="image4" width="600" height="400" hidden="overflow">
                        <img src="../images/order/instant.jpg" id="image5" width="600" height="400" hidden="overflow">
                    </div>
                    <div class="select">
                        <input type="hidden" id="n1" name="noodlesEN" value="">
                        <select id="noodles" onchange="showImgNoodles()" width="90%">
                            <label for="n0"><option value="none" selected class="selected">Choose Noodles</option></label>
                        <% for(var i=0; i < noodles.length;i++){ %>
                            <label for="n1"><option value="<%= noodles[i].noodles_nameEN %>"><%= noodles[i].noodles_nameEN %></option></label>
                        <% } %>
                        </select>
                    </div>
                </td>
                <td>
                    <div class="image">
                        <img src="../images/order/pork.jpg" id="image6" width="600px" height="400px">
                        <img src="../images/order/shrimp.jpg" id="image7" width="600px" height="400px" hidden="overflow">
                    </div>
                    <div class="select">
                        <input type="hidden" id="n2" name="meatEN" value="">
                        <select id="meat" onchange="showImgMeat()" width="90%">
                            <label for="n0"><option value="none" selected class="selected">Choose Meats</option></label>
                            <% for(var i=0; i < meats.length;i++){ %>
                                <label for="n2"><option value="<%= meats[i].meat_nameEN %>"><%= meats[i].meat_nameEN %></option></label>
                            <% } %>
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="object4">
                        <div class="content">
                            <% for(var i=0; i < vegs.length;i++){ %>
                                <p><%= vegs[i].veg_nameEN %></p>
                                <input type="checkbox" id="veg<%= i+1 %>" name="vegEN[]" value="<%= vegs[i].veg_nameEN %>"/>
                                <label for="veg<%= i+1 %>">
                                    <img src="../images/order/veg<%= i+1 %>.jpg" width="600px" height="250px"/>
                                </label>
                            <% } %>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="object4">
                        <div class="content2">
                            <% for(var i=0; i < toppings.length-2;i++){ %>
                                <p><%= toppings[i].topping_nameEN %></p>
                                <input type="checkbox" id="top<%= i+1 %>" name="topEN[]" value="<%= toppings[i].topping_nameEN %>"/>
                                <label for="top<%= i+1 %>">
                                    <img src="../images/order/top<%= i+1 %>.jpg" width="292.5px" height="220px">
                                </label>
                            <% } %>
                        </div>
                        <div class="content2">

                            <% for(var i=2; i < toppings.length;i++){ %>
                                <p><%= toppings[i].topping_nameEN %></p>
                                <input type="checkbox" id="top<%= i+1 %>" name="topEN[]" value="<%= toppings[i].topping_nameEN %>"/>
                                <label for="top<%= i+1 %>">
                                    <img src="../images/order/top<%= i+1 %>.jpg" width="292.5px" height="220px">
                                </label>
                            <% } %>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>

<script src="/javascripts/order.js"></script>

</html>